{% extends "auctions/layout.html" %}

{% block body %}
<br>
<br>
<br>
<style>
    body{
    background-image: url("/static/images/1.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
color: #f8f9fa;
background-blend-mode: hard-light;
}
    fieldset {
  height: 450px;
  width: 40%;
  }
.b {
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  padding: 40px;
   background-color: rgba(0,0,0,0.5) !important;
   border-radius: .8rem;
  }
.center {
margin: auto;
width: 60%;
padding: 10px;
}
</style>
<fieldset class="center">
    <div class="b">
<form action="{% url 'auctions:add' %}" method="POST">
    {% csrf_token %}

    <div class="form-group">
  <h1>Add Item</h1>
        <!--
            <input type="text" class="form-control" id="titleInput" placeholder="New entry title " >
<br>
           <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="New entry content">
    <br>
            </textarea>
             
        -->
        {{ new_form }}
        <br>
        <button style="margin-top: 10px;" type="submit" class="btn btn-primary">Submit</button>
    </div>            

</form>
        </div>
    </fieldset>
{% endblock %}